{% extends "base_layout.html" %}

{% block nav %}
<style>
    .btn-link {
        color: forestgreen;
    }
</style>

<ul class="nav nav-tabs">
  <li id="uninformative-tab" class="nav-item">
    <a class="nav-link btn-link" href="{% url 'informativeness_research' %}">Малоинформативные признаки</a>
  </li>
  <li id="group-signs-tab" class="nav-item">
    <a class="nav-link btn-link active" href="{% url 'group_signs' %}">Признаки по группам</a>
  </li>
</ul>
{% endblock %}
{%  block content %}


    <div class="col">
        <table class="table table-striped">
            <h4><i>Общее количество положительных гипотез:</i> {{ amount_plus }}</h4>
            <h4><i>Общее количество противоречивых гипотез:</i> {{ amount_des }}</h4>
           <!-- <h3 class="sub-header"><strong> Малоинформативные признаки </strong></h3> -->
            <thead>
                <th class="col-8">Признак</th>
                <th class="col-2">Количество положительных гипотез</th>
                <th class="col-2">Количество противоречивых гипотез</th>
            </thead>
            <tbody>
            {% for sign, amount_plus, amount_des in table %}
                <tr>
                    <td>
                        {{ sign }}
                    </td>
                    <td>
                        {{ amount_plus }}
                    </td>
                    <td>
                        {{ amount_des }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
$(document).ready(function(){
  $(".nav-tabs a").click(function(e){
    $(this).tab('show');
    localStorage.setItem('activeTab', $(e.target).attr('href'));
  });
  var activeTab = localStorage.getItem('activeTab');

  if(activeTab){
      $('#myTab a[href="' + activeTab + '"]').tab('show');
  }
});
</script>
{% endblock %}