{% extends "base_layout.html" %}

{%  block content %}
<h3>Сходства по общим признакам подписей</h3>
<br>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <table class="table table-striped">
            <h3 class="sub-header"><strong>Положительное сходство</strong></h3>
            <thead>
                <th>Сходства</th>
                <th>Респонденты</th>
            </thead>
            <tbody>
            {% for sim in sim_plus %}
                <tr>
                {% for s in sim %}
                    <td>
                        {% for el in s %}
                        <b>{{ el.jsm_number_print }}</b>
                        {{ el.jsm_value_print }}
                        <br>
                        {% endfor %}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <table class="table table-striped">
            <h3 class="sub-header"><strong>Отрицательное сходство</strong></h3>
            <thead>
                <th>Сходства</th>
                <th>Респонденты</th>
            </thead>
            <tbody>
                {% for sim in sim_minus %}
                <tr>
                {% for s in sim %}
                    <td>
                        {% for el in s %}
                        <b>{{ el.jsm_number_print }}</b>
                        {{ el.jsm_value_print }}
                        <br>
                        {% endfor %}
                    </td>
                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}