{% extends "base_layout.html" %}
{% load main_extras %}


{%  block content %}
<h1>ДСМ Транскрипции</h1>
<br>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <table class="table table-striped">
            <h3 class="sub-header"><strong>Положительное сходство</strong></h3>
            <thead>
                <th>Сходства</th>
                <th>Респонденты</th>
            </thead>
            <tbody>
            {% for k in range_plus %}
                <tr>
                    <td>
                        <b>Буквы:</b>
                        <br>
                        {% for letter in sim_plus|index:k|index:0 %}
                        {{ letter }}
                        <br>
                        {% endfor %}
                        {% if  sim_plus|index:k|index:1 %}
                            <b>Элементы:</b>
                            <br>
                            {% for element in sim_plus|index:k|index:1 %}
                            {{ element }}
                            <br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% for person in sim_plus|index:k|index:2 %}
                        {{ person }}
                        <br>
                        {% endfor %}
                    </td>
                    <td>
                        <button onclick="location.href='{% url 'jsm_ps' k %}'">Вычислить сходство частных признаков для этой группы</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <table class="table table-striped">
            <h3 class="sub-header"><strong>Отрицательное сходство</strong></h3>
            <thead>
                <th>Сходства</th>
                <th>Респонденты</th>
            </thead>
            <tbody>
             {% for k in range_minus %}
                <tr>
                    <td>
                        <b>Буквы:</b>
                        <br>
                        {% for letter in sim_minus|index:k|index:0 %}
                        {{ letter }}
                        <br>
                        {% endfor %}
                        {% if  sim_minus|index:k|index:1 %}
                            <b>Элементы:</b>
                            <br>
                            {% for element in sim_minus|index:k|index:1 %}
                            {{ element }}
                            <br>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% for person in sim_minus|index:k|index:2 %}
                        {{ person }}
                        <br>
                        {% endfor %}
                    </td>
                    <td>
                        <button onclick="location.href='{% url 'jsm_ps' k %}'">Вычислить сходство частных признаков для этой группы</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block js%}
<script>
    function func(url) {
        alert(url);
        location.href = url;
    }
</script>
{% endblock %}