{% extends "base_layout.html" %}

{%  block content %}
<style>
    .btn-link {
        color: forestgreen;
    }

    .btn-link:hover {
        color: darkgreen;
        text-decoration: none;
    }

    .btn-outline-secondary:focus {
        background-color: silver;
        color: #4f4f4f;
        border-color: #aaaaaa;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Редактировать название признака</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    <br>
                    {% csrf_token %}
                    <input hidden="True" name="type_id" id="type_id" value=""/>
                    <input name="type" id="type" type="text" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <input type="submit" name="saveModal" type="button" class="btn btn-primary"
                           value="Сохранить">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div align="left" сlass="col-md-auto">

        <form class='w-50' method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Введите новый признак"
                       aria-describedby="button-addon2" name="partial_sign_type"
                       value="{{part_sign.partial_sign_type}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Добавить</button>
                </div>
            </div>
        </form>
    </div>
    <table id="table_id" class="display table">
        <thead>
        <tr>
            <th hidden="True">PK</th>
            <th>Номер</th>
            <th>Признак</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for type in part_types %}
            <td hidden="True">{{ type.pk }}</td>
            <td class="c3" align="center">{{ type.partial_sign_type_number }}</td>
            <td class="c3" align="left">{{ type.partial_sign_type }}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
    {% block js %}
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#table_id').DataTable({

                    "columnDefs": [
                        {
                            "targets": -2,
                            "data": null,
                            "defaultContent": "<button id='delete' class='btn btn-link btn-sm'><i class=\"fa fa-trash-o\"></i></button> <button id='edit' class='btn btn-link btn-sm' data-toggle='modal'><i class=\"fa fa-pencil\"></i></button>"
                        },
                        {
                            "targets": -1,
                            "data": null,
                            "defaultContent": "<button id='editValues' class='btn btn-outline-secondary'>Редактировать значения</button>"
                        },
                    ],
                    language: {
                        'search' : 'Поиск по таблице:',
                        'paginate': {
                                "next":       "Вперед",
                                "previous":   "Назад"
                        },
                        'info': "Показано c _START_ по _END_ из _TOTAL_ записей",
                    },
                    "bLengthChange": false,

                    dom: 'B<"clear">lfrtip',
                    buttons: [{extend: 'copy', className: 'btn btn-outline-secondary btn-sm'},
                        {extend: 'csv', className: 'btn btn-outline-secondary btn-sm'},
                        {extend: 'excel', className: 'btn btn-outline-secondary btn-sm'},
                        {extend: 'pdf', className: 'btn btn-outline-secondary btn-sm'}]

                }
            );

            $('#table_id tbody').on('click', '#delete', function () {
                var data = table.row($(this).parents('tr')).data();
                if (confirm("Вы уверены, что хотите удалить признак?")) {
                    location.href = 'delete/' + data[0];
                }
            });

            $('#table_id tbody').on('click', '#edit', function () {
                var data = table.row($(this).parents('tr')).data();
                $(".modal-body #type").val(data[2]);
                $(".modal-body #type_id").val(data[0]);
                $('#editModal').modal('show');
            });

            $('#table_id tbody').on('click', '#editValues', function () {
                var data = table.row($(this).parents('tr')).data();
                location.href = data[0] + '/part_sign_value'
            });

        });
    </script>
</div>
{% endblock %}