{% extends 'base_layout.html' %}

{% block content %}
<style>
    .btn-link {
        color: forestgreen;
    }

    .btn-link:hover {
        color: darkgreen;
        text-decoration: none;
    }

    .btn-outline-secondary:focus {
        background-color: silver;
        color: #4f4f4f;
        border-color: #aaaaaa;
    }

</style>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><b>Редактировать значение признака <i>{{type}}</i></b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST">
      <div class="modal-body">
            <br>
            {% csrf_token %}
            <input hidden="True" name="value_id" id="value_id" value="" />
            <input name="value" id="value" type="text" value="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <input type="submit" name="saveModal" type="button" class="btn btn-primary" value="Сохранить"></input>
      </div>
        </form>
    </div>
  </div>
</div>
<div class="container">

<h2 align="center"><strong>Признак <i>{{type}}</i></strong></h2>
<br>
<table id="val-table" class="display table table-striped" align="center"  style="width:100%">
  <thead>
  <tr>
    <th hidden="True">PK</th>
    <th hidden="True">DELETE</th>
    <th>Номер</th>
    <th>Значение</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for val in values %}
  <tr>
    <td hidden="True">{{ val.pk }}</td>
    <td hidden="True">{% url 'delete_part_sign_value' type.pk val.pk %}</td>
	<td>{{ val.get_number }}</td>
	<td>{{ val.partial_sign_value }}</td>
    <td></td>
    <td class="col-4"><button class='btn btn-outline-secondary' onclick="location.href = '{% url 'part_sign_value_concretization' type.pk %}'">Редактировать конкретизации значений</button></td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
<div align="center">
    <form class='w-50' method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Введите новое значение" name="partial_sign_value" value="{{value.partial_sign_value}}" /> <!--onkeydown="this.style.width = ((this.value.length + 1) * 8) + 'px'" /> -->
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Добавить</button>
            </div>
        </div>
    </form>
    <br>
    {% if person %}
    <button onclick="location.href = '{% url 'part_sign_type_person' person %}'">Вернуться к признакам</button>
    <button onclick="location.href = '{% url 'partial_writing' person %}'">Вернуться к респонденту</button>
    {% else %}
    <button onclick="location.href = '{% url 'part_sign_type' %}'">Вернуться к признакам</button>
    {% endif %}

</div>
{% endblock %}
 {% block js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<script>
$(document).ready( function () {
   var table = $('#val-table').DataTable({

    "columnDefs": [
            {
            "targets": -2,
            "data": null,
            "defaultContent": "<button id='delete' class='btn btn-link btn-xs'><i class=\"fa fa-trash-o\"></i></button> <button id='edit' class='btn btn-link btn-sm' data-toggle='modal'><i class=\"fa fa-pencil\"></i></button>"
            },
        ],
    language: {
             'search' : 'Поиск по таблице:',
             'paginate': {
                                "next":       "Вперед",
                                "previous":   "Назад"
             },
             'info': "Показано c _START_ по _END_ из _TOTAL_ записей",
    },
    "bLengthChange": false,

    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: []

        }}
    );

    $('#val-table tbody').on( 'click', '#delete', function () {
        var data = table.row( $(this).parents('tr') ).data();
        if (confirm("Вы уверены, что хотите удалить признак?")) {
                location.href =  data[1];
        }
    } );

    $('#val-table tbody').on( 'click', '#edit', function () {
        var data = table.row( $(this).parents('tr') ).data();
        $(".modal-body #value").val( data[3] );
        $(".modal-body #value_id").val( data[0] );
        $('#editModal').modal('show');
    } );

    //$('input').css('width',((input.getAttribute('value').length + 1) * 8) + 'px');

} );
</script>
</div>
{% endblock %}
