{% extends "base_layout.html" %}

{%  block content %}
<style>
    th {
        background: white;
        position: sticky;
        top: 0;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }

    .btn-link {
        color: forestgreen;
    }

    .btn-link:hover {
        color: darkgreen;
        text-decoration: none;
    }

    .empty-row {
     background-color:  #e6e6e6;
     color: white;
    }
</style>
<div class="container-fluid">
<h2><strong>Респондент <i>{{ person }}</i> Частные признаки.</strong></h2>
<br>
<table id="table" class="table "
 data-part-values-url="{% url 'ajax_load_part_values' %}"
 data-part-value-concr-url="{% url 'ajax_load_part_value_concretizations' %}">
    {% if not table_2 %}
    <thead>
        <tr>
            <th colspan="1" scope='colgroup'></th>
            <th colspan="1" scope='colgroup'></th>
            <th colspan="3" scope='colgroup'>ТЕСТОВЫЙ ОБРАЗЕЦ № 1</th>
            <th colspan="3" scope='colgroup'>ТЕСТОВЫЙ ОБРАЗЕЦ № 2</th>
            <th colspan="4" scope='colgroup'>ДОСТОВЕРНОЕ МНОЖЕСТВО</th>
            <th colspan="4" scope='colgroup'>ПОДДЕЛЬНОЕ МНОЖЕСТВО</th>
            <!--<th colspan="4" scope='colgroup'>{{ table.0.2.1.get_set }}</th>
            <th colspan="4" scope='colgroup'>{{ table.0.3.1.get_set }}</th>-->
        </tr>
        <tr>
            <th scope='col'>Номер</th>
            <th scope='col'>Признак</th>

            <th scope='col'>Значение</th>
            <th scope='col'>Конкретизация значения</th>
            <th scope='col'></th>

            <th scope='col'>Значение</th>
            <th scope='col'>Конкретизация значения</th>
            <th scope='col'></th>

            <th scope='col'>Значение</th>
            <th scope='col'>Конкретизация значения</th>
            <th scope='col'>Проявление</th>
            <th scope='col'></th>

            <th scope='col'>Значение</th>
            <th scope='col'>Конкретизация значения</th>
            <th scope='col'>Проявление</th>
            <th scope='col'></th>
        </tr>
    </thead>
    <tbody>
        {% for test1, test2, t, f  in table %}
        {% if not t and not test1 %}
        <tr class="empty-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% else %}
        <tr>
            <td>{{ t.0.get_number }}</td>
            <td>{{ t.0 }}</td>

            <td>{{ test1.1.partial_sign.partial_sign_value }}</td>
            <td>{% if  test1.1.partial_sign.partial_sign_value_concretization%}
                {{ test1.1.partial_sign.partial_sign_value_concretization }}
                {% endif %}
            </td>
            <td value="{{ test1.1.pk }}">
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                    {% if  test1.1.pk %}
                    <button onclick="showModal({{ test1.1.pk }}, {{test1.1.partial_sign.partial_sign_value.partial_sign_type.pk}},
                     {{ test1.1.amount_sign }}, {{ t.0.pk }}, 1)"
                            id="editButton"  class="btn btn-link btn-xs" data-title="Edit" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {% else %}
                    <button onclick="showModal('', {{t.0.partial_sign_value.partial_sign_type.pk}},
                     '', {{ t.0.pk }}, 1)"
                              class="btn btn-link btn-xs" data-title="Edit" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {% endif %}
                </p>
                <p data-placement="bottom" data-toggle="tooltip" title="Delete">
                     {% if  test1.1.pk %}
                    <button onclick="deleteWriting('{% url 'delete_partial_writing' person.pk test1.1.pk%}')"
                            class="btn btn-link btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o"></i></button>
                    {% else %}
                    <button
                            class="btn btn-link btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o"></i></button>
                    {% endif %}
                </p>
            </td>

            <td>{{ test2.1.partial_sign.partial_sign_value }}</td>
            <td>{% if  test2.1.partial_sign.partial_sign_value_concretization%}
                {{ test2.1.partial_sign.partial_sign_value_concretization }}
                {% endif %}
            </td>
            <td value="{{ test2.1.pk }}">
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                    {% if  test2.1.pk %}
                    <button onclick="showModal({{ test2.1.pk }}, {{test2.1.partial_sign.partial_sign_value.partial_sign_type.pk}},
                     {{ test2.1.amount_sign }}, {{ t.0.pk }}, 2)"
                             class="btn btn-link btn-xs" data-title="Edit" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {% else %}
                    <button onclick="showModal('', {{t.0.partial_sign_value.partial_sign_type.pk}},
                     '', {{ t.0.pk }}, 2)"
                              class="btn btn-link btn-xs" data-title="Edit" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {% endif %}
                </p>
                <p data-placement="bottom" data-toggle="tooltip" title="Delete">
                     {% if  test2.1.pk %}
                    <button onclick="deleteWriting('{% url 'delete_partial_writing' person.pk test2.1.pk%}')"
                            class="btn btn-link btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o"></i></button>
                    {% else %}
                    <button
                            class="btn btn-link btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o"></i></button>
                    {% endif %}
                </p>
            </td>

            <td>{{ t.1.partial_sign.partial_sign_value }}</td>
            <td>{% if  t.1.partial_sign.partial_sign_value_concretization%}
                {{ t.1.partial_sign.partial_sign_value_concretization }}
                {% endif %}
            </td>
            <td>{% if  t.1 %}
                {{ t.1.amount_sign }}/{{ t.1.amount_all }}
                {% endif %}
            </td>
            <td value="{{ t.1.pk }}">
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                    {% if  t.1.pk %}
                    <button onclick="showModal({{ t.1.pk }}, {{t.1.partial_sign.partial_sign_value.partial_sign_type.pk}},
                     {{ t.1.amount_sign }}, {{ t.0.pk }}, 3)"
                             class="btn btn-link btn-xs" data-title="Edit" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {% else %}
                    <button onclick="showModal('', {{t.0.partial_sign_value.partial_sign_type.pk}},
                     '', {{ t.0.pk }}, 3)"
                              class="btn btn-link btn-xs" data-title="Edit" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {% endif %}
                </p>
                <p data-placement="bottom" data-toggle="tooltip" title="Delete">
                     {% if  t.1.pk %}
                    <button onclick="deleteWriting('{% url 'delete_partial_writing' person.pk t.1.pk%}')"
                            class="btn btn-link btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o"></i></button>
                    {% else %}
                    <button
                            class="btn btn-link btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o"></i></button>
                    {% endif %}
                </p>
            </td>

            <td>{{ f.1.partial_sign.partial_sign_value }}</td>
            <td>{% if  f.1.partial_sign.partial_sign_value_concretization%}
                {{ f.1.partial_sign.partial_sign_value_concretization }}
                {% endif %}
            </td>
            <td>{% if  f.1 %}
                {{ f.1.amount_sign }}/{{ f.1.amount_all }}
                {% endif %}
            </td>
            <td value="{{ f.1.pk }}">
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                    {% if  f.1.pk %}
                    <button onclick="showModal({{ f.1.pk }}, {{f.1.partial_sign.partial_sign_value.partial_sign_type.pk}},
                     {{ f.1.amount_sign }}, {{ t.0.pk }}, 4)"
                             class="btn btn-link btn-xs" data-title="Edit" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {% else %}
                    <button onclick="showModal('', {{t.0.partial_sign_value.partial_sign_type.pk}},
                     '', {{ t.0.pk }}, 4)"
                              class="btn btn-link btn-xs" data-title="Edit" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {% endif %}
                </p>
                     {% if  f.1.pk %}
                    <button onclick="deleteWriting('{% url 'delete_partial_writing' person.pk f.1.pk%}')"
                            class="btn btn-link btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o"></i></button>
                    {% else %}
                    <button
                            class="btn btn-link btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o"></i></button>
                    {% endif %}
                </p>
            </td>

        </tr>
        {% endif %}
        {% endfor %}
    </tbody>

    {% else %}
    <thead>
        <tr>
            <th colspan="1" scope='colgroup'></th>
            <th colspan="1" scope='colgroup'></th>
            {% for set in all_sets %}
            <th colspan="4" scope='colgroup'>{{ set.table_str }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th scope='col'>Номер</th>
            <th scope='col'>Признак</th>

            {% for set in all_sets %}
            <th scope='col'>Значение</th>
            <th scope='col'>Конкретизация значения</th>
            <th scope='col'>Проявление</th>
            <th scope='col'></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for ps, pws in table_2.items %}
        {% if ps in nulls %}
        <tr class="empty-row">
            {% for set in all_sets %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% endfor %}
        </tr>
        {% else %}
        <tr>
            <td>{{ ps.get_number }}</td>
            <td>{{ ps }}</td>

            {% for p in pws %}
            <td>{{ p.partial_sign.partial_sign_value }}</td>
            <td>{% if  p.partial_sign.partial_sign_value_concretization %}
                {{ p.partial_sign.partial_sign_value_concretization }}
                {% endif %}
            </td>
            <td>{% if  p %}
                {{ p.amount_sign }}/{{ p.amount_all }}
                {% endif %}
            </td>
            <td value="{{ p.pk }}">
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                    {% if  p.pk %}
                    <button onclick="showModal({{ p.pk }}, {{p.partial_sign.partial_sign_value.partial_sign_type.pk}},
                     {{ p.amount_sign }}, {{ ps.pk }}, 1)"
                              class="btn btn-link btn-xs" data-title="Edit" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {% else %}
                    <button onclick="showModal('', {{ps.partial_sign_value.partial_sign_type.pk}},
                     '', {{ ps.pk }}, 1)"
                              class="btn btn-link btn-xs" data-title="Edit" data-toggle="modal">
                        <i class="fa fa-pencil"></i>
                    </button>
                    {% endif %}
                </p>
                <p data-placement="bottom" data-toggle="tooltip" title="Delete">
                     {% if  test1.1.pk %}
                    <button onclick="deleteWriting('{% url 'delete_partial_writing' person.pk p.pk%}')"
                            class="btn btn-link btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o"></i></button>
                    {% else %}
                    <button
                            class="btn btn-link btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><i class="fa fa-trash-o"></i></button>
                    {% endif %}
                </p>
            </td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    {% endif %}
</table>
    <br>
    <button align="right" onclick="location.href='{% url 'person_detail' person.pk %}'">Вернуться к множествам респондента</button>
</div>
<!--  MODALS -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title custom_align" id="Heading">Редактировать</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
          <form method="POST">
          <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
          <input id="pw-id" name="pw-id" class="form-control" type="text" hidden="True">
          <input id="curr-ps" name="curr-ps" class="form-control" type="text" hidden="True">
          <input id="curr-set" name="curr-set" class="form-control" type="number" hidden="True">
          </div>
        <div class="form-group">
            <h5 class="modal-title custom_align">Выберите значение</h5>
            <select id="psv" name="psv" class="form-control "></select>
        </div>
        <div class="form-group">
            <h5 class="modal-title custom_align">Выберите конкретизацию значения</h5>
            <select id="psvc" name="psvc" class="form-control "></select>
        </div>
              <h5 class="modal-title custom_align">Введите проявление</h5>
        <div class="form-group">

            <input id="amount-sign" name="amount-sign" class="form-control " type="number">
        </div>
      </div>
          <div class="modal-footer ">
        <input onclick="location.reload(true)" type="submit" name="editModal" class="btn btn-success btn-lg" style="width: 100%;" value="Сохранить">
      </div>
         </form>
        </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
   function showModal(pwPk, pstPk, amnt, partialSign, set) {
        var url = $("#table").attr("data-part-values-url");
        var urlConcr = $("#table").attr("data-part-value-concr-url")
        $.ajax({
            url: url,
            data: {
                'partial_sign_type': pstPk
            },
        success: function (data) {
          $("#psv").html(data);
        }
      });
      $.ajax({
          url: urlConcr,
          data: {

            },
       success: function (data) {
          $("#psvc").html(data);
       }
      });

      $(".modal-body #pw-id").val( pwPk );
      $(".modal-body #pst-pk").val( pstPk );
      $(".modal-body #amount-sign").val( amnt );
      $(".modal-body #curr-ps").val( partialSign );
      $(".modal-body #curr-set").val( set );
      $('#editModal').modal('show');
    };

   function deleteWriting(url) {
        if (confirm("Вы уверены, что хотите удалить признак подписи?")) {
                location.href = url;
        }
    };

</script>
{% endblock %}