{% extends 'base_layout.html' %}

{% block content %}
<style>
    .btn-light {
        margin-bottom: 20px;
    }

    .pers {
        color: #4f4f4f;
        text-decoration: none;
    }

    .pers:hover {
        text-decoration: underline;
        color: #4f4f4f;
    }

    .btn-link {
        color: forestgreen;
    }

    .btn-link:hover {
        color: darkgreen;
        text-decoration: none;
    }
    .btn-outline-secondary:focus {
        background-color: silver;
        color: #4f4f4f;
        border-color: #aaaaaa;
    }
</style>
<div class="container">
    <h3>Респонденты</h3>
    <br>
    <button class='btn btn-light btn-sm' onclick="location.href='{% url 'create_person' %}'">Добавить нового
        респондента
    </button>
    <table id="table_id" class="display table" align="center" style="width:95%">
        <thead>
        <tr>
            <th hidden="True">person detail</th>
            <th hidden="True">delete person</th>
            <th hidden="True">edit person</th>
            <th></th>
            <th class='btns' hidden="True"></th>
            <th class='sets' hidden="True"></th>

        </tr>
        </thead>
        <tbody>
        <tr>
            {% for person in persons %}
            <td hidden="True">{% url 'person_detail' person.pk %}</td>
            <td hidden="True">{% url 'delete_person' person.person_id %}</td>
            <td hidden="True">{% url 'edit_person' person.person_id %}</td>
            <td class="c3"><a class='pers' id='person' href="{% url 'person_detail' person.pk %}">{{ person }} </a></td>
            <td class="btns"></td>
            <td class="sets"></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <!--
        <ul>
    {% for person in persons %}
            <br>
        <li>
            <tr>
            <td><a href="{{person.get_absolute_url}}">{{ person }} </a></td>
            <td><a href="edit/{{person.person_id}}" target="_blank"> |Изменить</a> | <a href="delete/{{person.person_id}}"> Удалить|</a></td>
                <a class="btn btn-default" href="{% url 'person_list' %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </tr>
        </li>
    {% endfor %}
        </ul>
        -->
    {% endblock %}
    {% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#table_id').DataTable({

                "columnDefs": [
                    {
                        // "width": '10%',
                        "targets": 'btns',
                        "data": null,
                        "defaultContent": "<button id='delete' class=\"del btn btn-link btn-xs\"><i class=\"fa fa-trash-o\"></i></button> <button id='edit' class=\"btn btn-link btn-xs\" data-title=\"Edit\" data-toggle=\"modal\"><i class=\"fa fa-pencil\"></i></button>"
                        // "defaultContent": "<button class='btn btn-sm m-0 btn-outline-primary waves-effect' id='delete'>Удалить</button> <button class='btn btn-sm m-0 btn-outline-success waves-effect' id='edit'>Редактировать респондента</button>"
                    },
                    {
                        'width': '20%',
                        "targets": 'sets',
                        "data": null,
                        "defaultContent": "<button class='btn m-0 btn-outline-secondary waves-effect' id='sets'><i class=\"fa fa-angle-right>\"></i>Множества</button>"
                    },
                ],
                    language: {
                        'search' : 'Поиск по таблице:',
                        'paginate': {
                                "next":       "Вперед",
                                "previous":   "Назад"
                        },
                        'info': "Показано c _START_ по _END_ из _TOTAL_ записей",
                    },
                    "bLengthChange": false,
                dom: 'B<"clear">lfrtip',
                buttons: {
                    name: 'primary',
                    buttons: []
                }

            });


            $('#table_id tbody').on('click', '#delete', function () {
                var data = table.row($(this).parents('tr')).data();
                if (confirm("Вы уверены, что хотите удалить респондента? Все связанные с ним множества также будут удалены")) {
                    location.href = data[1];
                }
            });

            $('#table_id tbody').on('click', '#edit', function () {
                var data = table.row($(this).parents('tr')).data();
                location.href = data[2];
            });

            $('#table_id tbody').on('click', '#sets', function () {
                var data = table.row($(this).parents('tr')).data();
                location.href = data[0];
            });

        });
    </script>
</div>
{% endblock %}