{% extends 'base_layout.html' %}

{% block content %}

<button class="btn btn-link btn-lg" style='color: darkgreen;' onclick="cancel('{% url 'person_detail' person.pk %}')">
    <i class="fa fa-angle-left"></i> Назад </button>
<h5>Редактировать множество: {{set}}</h5>
<br>

<form method="POST" enctype="multipart/form-data">

    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" style="color: red">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}

    {% csrf_token %}
    <table align="right">
        {% for img in images %}
    	{% if img.image %}
        <img src="{{ img.image.url  }}" class="img-responsive" width="500">
    	{% endif %}
        {% endfor %}
    </table>
    <table>
        {{ form.as_table }}
    </table>

    <table>
        <p><b>Загрузить изображения:</b></p>
        {{ imgformset.management_form }}
        {% for form in imgformset %}
        <ul>
            <li>{{ form.image }}{{form.set}}{{form.image_id}}</li>
            {% if imgformset.can_delete %}
            {{form.DELETE.label}} {{ form.DELETE }}
            {% endif %}
        </ul>
        {% endfor %}


    </table>
    <input class="btn btn-success" type="submit" value="Сохранить" style="margin-left:170px; margin-top:20px">
</form>

{% endblock %}
{% block js %}
<script>
    function cancel(href) {
        location.href = href
    }
</script>
{% endblock %}
