{% extends "base_layout.html" %}

{%  block content %}

    <span><strong>Транскрипция:</strong></span>
    <span id="transcription"> _______________ </span>
    <button onclick="deleteTran()">Очистить</button>
    <form method="POST" id="Form" data-transcription-url="{% url 'ajax_load_transcription' %}">
        <table>
            {% csrf_token %}
            {{form.as_table}}
        </table>
        <input type="submit" value="Добавить букву" >
    </form>
    <br>
   <button onclick="location.href = '{{ prev_page }}'">Назад</button>
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    $("#id_set").change(function () {

      var url = $("#Form").attr("data-transcription-url");
      var setId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'set': setId
        },
        success: function (data) {
          $("#transcription").html(data);
        }
      });
    });

    function deleteTran() {
      var setId = $("#id_set").val();
          if (confirm("Вы уверены, что хотите удалить транскрипцию? Все частные признаки, связанные с ней, также будут удалены.")) {
                location.href = 'transcription/delete/' + setId;
          }
    };
    </script>
{% endblock %}