{% extends "base_layout.html" %}
{% block nav %}
<style>
    .btn-link {
        color: forestgreen;
    }
</style>

<ul class="nav nav-tabs">
  <li id="uninformative-tab" class="nav-item">
    <a class="nav-link btn-link active" href="{% url 'informativeness_research' %}">Малоинформативные признаки</a>
  </li>
  <li id="group-signs-tab" class="nav-item">
    <a class="nav-link btn-link" href="{% url 'group_signs' %}">Признаки по группам</a>
  </li>
</ul>
{% endblock %}

{%  block content %}
<div class="row" id="uninformative-signs">
    <div class="col col-lg-10">
        <table class="table table-striped">
           <!-- <h3 class="sub-header"><strong> Малоинформативные признаки </strong></h3> -->
            <thead>
                <th class="col-8">Признак</th>
                <th class="col-2">Количество повторений</th>
            </thead>
            <tbody>
            {% for val_key, amount in uninformative.items %}
                <tr>
                    <td>
                        <strong>{{ val_key.get_jsm_number }}</strong>
                            <br>
                        {{ val_key.get_str_type }} : <i>{{ val_key.get_str_value }}</i>
                    </td>
                    <td>
                        {{ amount }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row" id="group-signs">
    <div class="col col-lg-10">
        <table class="table table-striped">
           <!-- <h3 class="sub-header"><strong> Малоинформативные признаки </strong></h3> -->
            <thead>
                <th class="col-8">Признак</th>
                <th class="col-2">Количество повторений</th>
            </thead>
            <tbody>
            {% for val_key, amount in uninformative.items %}
                <tr>
                    <td>
                        <strong>{{ val_key.get_jsm_number }}</strong>
                            <br>
                        {{ val_key.get_str_type }} : <i>{{ val_key.get_str_value }}</i>
                    </td>
                    <td>
                        {{ amount }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function(){
  $(".nav-tabs a").click(function(e){
    $(this).tab('show');
    localStorage.setItem('activeTab', $(e.target).attr('href'));
  });
  var activeTab = localStorage.getItem('activeTab');

  if(activeTab){
      $('#myTab a[href="' + activeTab + '"]').tab('show');
  }
});
</script>
{% endblock %}