{% extends "base_layout.html" %}

{%  block content %}

<div class="container">
    <h3>Сходства по общим признакам и обобщенным частным признакам подписей</h3>
    <br>
    <div class="row">
        <div class="col-lg">
            <h5 class="sub-header">Количество положительных сходств: {{ quantity_plus }}</h5>
            <hr>
            {% for sim in sim_plus %}
            <div class="row">
                {% for s in sim %}
                <div class="col-lg">
                    {% for el in s %}
                    {{ el }}
                    <br>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col-lg">
            <h5 class="sub-header">Количество отрицательных сходств: {{ quantity_minus }}</h5>
            <hr>
            {% for sim in sim_minus %}
            <div class="row">
                {% for s in sim %}
                <div class="col-lg">
                    {% for el in s %}
                    {{ el }}
                    <br>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

<!--</div>-->

{% endblock %}

<div class="row">

    <div class="col-md-auto" style="max-width: 50%">
        <h4 class="sub-header">Количество положительных сходств: {{ quantity_plus }}</h4>
        <table class="table-striped">
            <thead>
            <th>Сходства</th>
            <th>Респонденты</th>
            </thead>
            <tbody>
            {% for sim in sim_plus %}
            <tr>
                {% for s in sim %}
                <td>
                    {% for el in s %}
                    {{ ell }}
                    <br>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-auto" style="max-width: 50%">
        <h4 class="sub-header">Количество отрицательных сходств: {{ quantity_minus }}</h4>
        <table class="table-striped">
            <thead>
            <th>Сходства</th>
            <th>Респонденты</th>
            </thead>
            <tbody>
            {% for sim in sim_minus %}
            <tr>
                {% for s in sim %}
                <td>
                   {% for el in s %}
                    {{ el }}
                    <br>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
