{% extends 'base_layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href='{% static "stylesheets/qstnrs/styles.css" %}'>
{% endblock %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">{{person.snippet}}</li>
        <li class="breadcrumb-item">{{questionnaire.snippet}}</li>
        <!--    <li class="breadcrumb-item active" aria-current="page">Data</li>-->
    </ol>
</nav>
<div class="contents">
    <div class="description">{{ questionnaire.questionnaire_description | safe }}</div>
    <div name="questions_table" class="questions_table">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-striped">
                <tr>
                    <th>№</th>
                    <th>Вопрос</th>
                    <th>Варианты ответов</th>
                </tr>
                {% for num, question, variants, question_id in table %}
                <tr>
                    <td>{{num}}</td>
                    <td class="question">{{question}}</td>
                    <td>
                        <div class="radio-toolbar">
                            {% for v in variants %}
                            <input type="radio" id="var{{question_id}}.{{v.1}}" name="var{{question_id}}" {% for sel in selections %} {% if sel.answer_id == v.1 %} checked {% endif%}{%endfor%}
                                   value="{{v.1}}">
                            <label for="var{{question_id}}.{{v.1}}">{{v.0}}</label>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <!--ссылка на tests с посчитанным результатом в заисимости от выбранных вариантов-->
            <button class="btn btn-primary" type="submit">Посчитать результат и сохранить</button>
        </form>
    </div>

</div>
</div>

{% endblock %}