{% extends 'base_layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href='{% static "stylesheets/qstnrs/styles.css" %}'>
{% endblock %}

{% block content %}

<div class="container">
    <div class="nav row justify-content-md-center" name="navbar">
        <form class="form-inline">
            <div class="form-group">
                <label for="select_person">Респондент:</label>
                <select class="form-control small" id="select_person" name="select_person">
                    {% for person in persons %}
                    <option value="{{person.person_id}}"
                                {% if person.person_id == person_id %} selected="selected" {% endif %}>
                        {{person}}
                    </option>
                    {% endfor %}
                </select>
                <label for="select_qstnr">Опросник:</label>
                <select class="form-control" id="select_qstnr" name="select_questionnaire">
                    {% for questionnaire in questionnaires %}
                        <option value="{{questionnaire.questionnaire_id}}" {% if questionnaire.questionnaire_id == questionnaire_id %} selected="selected" {% endif %}>
                            {{questionnaire}}
                        </option>
                    {% endfor %}
                </select>

                <label for="select_partitioning">Разбиение:</label>
                <select class="form-control" id="select_partitioning" name="select_partitioning">
                    {% for partitioning in partitionings %}
                        <option value="{{partitioning.partitioning_scale_name_id}}" {% if partitioning.partitioning_scale_name_id == partitioning_scale_name_id %} selected="selected" {% endif %}>
                            {{partitioning}}
                        </option>
                        {% endfor %}
                    </select>

        </div>

        <!--        <button type="submit">Применить</button>-->
    </form>
</div>
    <div name="results" class="row justify-content-md-center">
        <div class="col-lg results">
            <table class="table">
            <tr>
                <th>Шкала</th>
                <th>Сырые баллы</th>
                <th>Финальные баллы</th>
                <th>Оценка</th>
            </tr>
            {% for scale, raw_score, result_score, ass in table %}
            <tr>
                <td>{{scale}}</td>
                <td>{{raw_score}}</td>
                <td>{{result_score}}</td>
                <td>
                    {{ass}}
                </td>
            </tr>
            {% endfor %}
            <!-- здесь должны содержаться колонки из таблицы q_result в зависимости от person_id и questionnaire_id
                    и третий столбец - оценка (partitioning_id), рассчитанная из result_score в зависимости от partitioning_scale
                    -->
        </table>
            <button type="button" onclick="window.location.href ='{{person_id}}/{{questionnaire_id}}';" class=" btn btn-primary"
            value="edit">Редактировать
    </button>
        </div>


    </div>
    <!--кнопка, которая ведет к форме #2, в которой заполняется выбранный опросник для выбранного респондента-->

</div>
<script>
    $("select").change(function () {
        $("form").submit()
    });
</script>
{% endblock %}

