<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href='{% static "stylesheets/styles.css" %}'>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block styles %}
    {% endblock styles %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous">
    </script>

</head>
<body>

<div class="topnav" id="myTopnav">
    <a class="active" href="{% url 'home_page' %}">Home</a>
    <a class="" href="{% url 'tests_overview' %}">Опросники</a>
    <div class="dropdown-hw">
        <button class="dropbtn" onclick="location.href='{% url 'person_list' %}'">Подписи <i
                class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="{% url 'person_list' %}">Респонденты</a>
            <a href="{% url 'gen_sign_type' %}">Общие признаки</a>
            <a href="{% url 'part_sign_type' %}">Частные признаки</a>
            <a href="{% url 'part_sign' %}">Выделенные частные признаки</a>
            <a href="{% url 'letter' %}">Буквы</a>
            <a href="{% url 'signature_identification' %}">Идентификация подписи</a>
        </div>
    </div>
    <div class="dropdown-hw">
        <button class="dropbtn">Исследования <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="{% url 'informativeness_research' %}">Исследование информативности признаков</a>
            <a href="{% url 'potential_hypotheses' %}">Потенциальные гипотезы</a>
            <a href="{% url 'similarities_general' %}">Сходства</a>
            <a href="{% url 'similarities_q' %}">Сходства по опросникам</a>
            <a href="{% url 'similarities_gw' %}">Сходства по подписям</a>
            <a href="{% url 'jsm_choose_option' %}">Выбор варианта ДСМ-метода</a>
            <a href="{% url 'person_subbase' %}">Подбаза респондентов</a>
        </div>
    </div>
    <a href="javascript:void(0);" onclick="responsiveNav()" style="font-size:15px;" class="icon">&#9776;</a>
    <a class="logout" style="margin-right: 10px;" href="{% url 'logout' %}">Выйти</a>
    <span class="pull-right navbar-text" style="font-size: 18px; margin-right: 50px; padding-top:12px; color: white;">Добро пожаловать, {{user.username}}</span>

</div>
<br>
    {% block nav %}


    {% endblock %}

<div id="content">

    {% block content %}


    {% endblock %}


</div>
<!--
<footer class="page-footer font-small blue fixed-bottom">
    <hr>

    <div class="text-center py-3 "><h6><p>Contact information: <a href="mailto:hw@gmail.com">hw@gmail.com</a></p></h6>
    </div>


</footer>
-->
<!--    <div class="container">-->

<!--        <footer>-->
<!--            <p><h6> Сайт посвящен исследованиям в почерковедении.....</h6></p>-->
<!--            <h6><p>Contact information: <a href="mailto:hw@gmail.com">hw@gmail.com</a></p></h6>-->

<!--        </footer>-->
<!--    </div>-->

<script>
    function responsiveNav() {
        let x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
{% block js %}

{% endblock %}
</body>
</html>
